* {
  font-family: Arial, Helvetica, sans-serif;
}
header,
main {
  margin-left: 300px;
  margin-right: auto;
  margin-bottom: 28px;
  text-align: center;
}
section {
  margin-bottom: 100px;
}
section p {
  margin-left: 100px;
  margin-right: 100px;
}
em {
  font-size: 30px;
}
table {
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  border: 1px solid black;
  padding: 5px;
}
th {
  background-color: #ebebd2;
}
td {
  background-color: #e9832c;
}

/* Cria o sumário */
#articleNav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
#articleNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

ul > li {
  list-style-type: none;
}
nav#navBar ul > li {
  display: inline-block;
  padding-right: 10px;
}
img {
  max-width: 500px;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: #036b52;
  padding: 3px 0px;
  color: white;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
footer a {
  color: #faff00;
}
